

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;   
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 860px;
}

/* Header */

.header {
    padding-bottom: 8px;
    padding-top: 8px;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 63px;
    padding: 8px 8px;
}

.menu {
    margin-left: 40px;
}

.menu-item {
    margin-right: 16px;
    text-decoration: none;
    color: #595959;
}

.menu-item:hover {
    color: #77287d;
    display: inline-block;
    text-decoration: underline;
}

/* Banner */

.banner {
    background-image: url('images/banner.jpg');
    background-size: cover;
    height: 500px;
}

.banner-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.title {
    font-size: 36px;
    color: #222222;
    margin-bottom: 0;
}

.subtitle {
    font-size: 25px;
    color: #595959;
    margin-top: 8px;
}

/* Category */

.category-title {
    margin-top: 32px;
    font-size: 25px;
}

.category-list {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}

.category-item {
    color: #222222;
    text-decoration: none;
    box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
    padding: 8px 16px;
    border-radius: 8px;
}


/* product */

.popular {
    margin-top: 56px;
}

.product-headtitle {
    font-size: 25px;
    display: block;
    font-weight: bold;
}
.product-list {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: space-between;
    row-gap: 36px;
}

.product-item {
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    padding: 16px;
    text-decoration: none;
}

.product-image {
    height: 180px;
    object-fit: cover;
    width: 100%;
}

.product-title {
    color: #222222;
    margin-top: 8px;
    margin-bottom: 0;
}

.product-price {
    color: #222222;
    font-weight: 500px;
    margin-top: 8px;
}

.product-item:hover {
    background-color: #77287d;
}

.product-item:hover .product-title,
.product-item:hover .product-price {
    color: #e3e3e3;
}

